html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --white-color: #ffff;
  --hover-buttons:  #FF00BF;
  --dark-grey: #333447;
  --color-form-title: #352384;
  --color-form-text: #728099;
  --purple-gradient:linear-gradient(#76278F, #2B1E66);
  --rem-huge: 4rem;
  --rem-large: 2.8rem;
  --rem-big: 2.4rem;
  --rem-medium: 1.8rem;
  --rem-regular: 1.6rem;
  --rem-small: 1.4rem;
  --rem-ultra-small: .9rem;
}

/*.nav-bar {
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  }

.nav-bar-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 8.85rem;
  margin-right: 8.85rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
*/

nav.nav-bar {
  box-sizing: border-box;
}

nav div.menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  /*background-color: #2E2145;*/
  font-size: 1.8rem;
  padding-bottom: 4rem;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 15rem;
}
/*Menu's buttons*/
.button-menu {
  color: white;
  text-decoration: none;
  padding: 2.4rem;
}

a.button-menu:hover {
  color: #ff02c0;
}

#login {
  border: .1rem solid white;
  border-radius: .8rem;
  padding: .8rem 1.6rem;
}

/*Logo*/
.nav-bar-container div.logo-container {
  height: 3rem;
  width: 6rem;
  position: fixed;
  top: 4rem;
  left: 8rem;
}

#logo {
  width: 100%;
}

/*Background Image*/
div.background-image {
   background-image: url("../assets/images/hero.gif");
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   height: 75.8813rem;
   position: relative;
   top: -11.3rem;
   width: 100%;
}

/*Header's Container*/
header div.hdr-container {
  box-sizing: border-box;
  height: 41.9047rem;
  width: 57.4578rem;
  background-color: #F2F3F4;
  position: relative;
  right: 0;
  left: 80rem;
  top: 11rem;
  padding: 6.4rem;
}
/*Header's Title*/
header div.hdr-container h1 {
  color: var(--color-form-title);
  font-size: var(--rem-huge);
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

header div.hdr-container p {
  color: var(--color-form-title);
  font-size: var(--rem-small);
  text-transform: uppercase;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 2rem;
  letter-spacing: .15rem;
}

header div.hdr-container .input-phone-number {
  border: none;
  width: 44.6578rem;
  padding-top: 1.84rem;
  padding-bottom: .4rem
}

header div.hdr-container .input-phone-number:focus {
outline: none;
}

.input-phone-number::placeholder {
  font-size: var(--rem-medium);
  padding-left: 1rem;
  color: #D5DBDB;
  font-weight: normal;
}


/*Header's Buttons*/
div.hdr-buttons-container{
  padding-top: 4rem;
  padding-bottom: 2rem;
}

div.hdr-container a.button-hdr {
  padding: 1.4rem 2rem;
  font-size: var(--rem-regular);
  text-align: center;
  color: #909497;
}

a#b-become-a-driver {
  color: var(--white-color);
  text-decoration: none;
  background-color: var(--hover-buttons);
  border-radius: .8rem;
}

header div.hdr-container p#ultra-small-letters {
  font-size: var(--rem-ultra-small);
  color: #909497;
  text-align: left;
  text-transform: none;
  line-height: 2rem;
}

/*Section One*/
section.section-one {
  background: var(--purple-gradient);
  display: flex;
  padding-left: 20rem;
  padding-top: 20rem;
  height: 64rem;
}

.section-one div.so-text-container {
  color: var(--white-color);
  height: 30rem;
  width: 45rem;
}

section.section-one div.so-img {
  height: 30rem;
  width: 50rem;
}

div.so-img img#phone {
  width: 100%;
}

div.so-text-container h2 {
  text-transform: uppercase;
  font-size: var(--rem-large);
}

div.so-text-container p {
  font-size: var(--rem-regular);
}
